.card-body {
  padding: 0rem;
}

.list-group-flush{
  max-height: 450px;
  overflow: hidden;
  overflow-y: auto;
}

.rounded-circle {
  width: 3rem;
  height: 3rem;
}

.action-icon {
  color: grey;
}

.comment-bubble {
  padding: 1rem;
  overflow: hidden;
  border-radius: 1rem;
  display: inline-block;
	-webkit-border-radius: 1rem;
  background-color: var(--bg-primary);
}

.comment-bubble > p {
  margin-bottom: 0rem;
}

.owner-name{
  color: black;
}

.owner-name:hover{
  text-decoration: underline;
  color: black !important;
}

.dropbox{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;  
  position: absolute;
  right: 20px;
  color: rgba(0,0,0,0.8) !important;

}

.dropbox:hover{
  
  cursor: pointer;
  color: black !important;

}

.fa-ellipsis-h:before {
    content: "\f141";
    color: black;
}


.dropbox-comment{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;  
  position: absolute;
  top: 15px;
  right: 20px;
  color: rgba(0,0,0,0.8) !important;
}

.dropbox-comment:hover{
  cursor: pointer;
  color: black !important;
}

.dropdown-menu.show.dropdown-menu-right{
  transform: translate(-100px, 42px) !important;
  z-index: 1000;
}