.button {
  background-color: var(--button-primary);
}

p.header {
  width: 500px;
  font-size: 28px;
  line-height: 32px;
  font-weight: normal;
  font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
}

hr {
  width: 100%;
}

p.footer {
  font-size: 1rem;
}

.p-modal {
  font-size: 1rem;
}

.p-terms {
  font-size: 0.7rem;
}

.mx-auto.mt-3.form-group {
  width: 100% !important;
  display: flex !important;
  flex-direction: column !important;
  text-align: center !important;
  /* justify-content: center; */
  /* align-items: center; */
}

button.google-btn.d-flex.justify-content-center {
  /* border: 1px solid #ccc !important; */
}

button.google-btn.d-flex.justify-content-center:hover {
  cursor: pointer !important;
}

button.kep-login-facebook.metro {
}
